<%= form_with(model: article, html: { class:'text-start' }) do |form| %>
  <%= form_errors(article) %>

  <div class="mb-2">
    <%= form.label :title, class:'form-label' %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="mb-2">
    <%= form.label :body, class:'form-label' %>
    <%= form.text_area :body, class:'form-control' %>
  </div>

  <div class="mb-2">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
